.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1f2937;
    /* background-color: red; */
    padding: 20px;
}

.login-title {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    /* background-color: aquamarine; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
}

.login-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #374151;
    border: none;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

.login-button {
    width: 100%;
    padding: 15px;
    /* margin: 10px 0; */
    background-color: #3b82f6;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-text {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.link {
    color: #3b82f6;
    text-decoration: underline;
    cursor: pointer;
}
